/**
 * Plugin front end styles
 *
 * @package Lesson_Template_LLMS
 * @version 1.0.0
 */
.single-lesson #lesson-primary {
  padding-right: 50px; }

#lesson .llms-widget-syllabus {
  overflow: hidden; }
  #lesson .llms-widget-syllabus ul {
    margin: 0; }
  #lesson .llms-widget-syllabus .section-header {
    text-align: center; }
#lesson .center-video {
  padding-top: 56.25%;
  position: relative; }
  #lesson .center-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
#lesson .llms-lesson-button-wrapper {
  float: left;
  width: auto; }
#lesson .llms-lesson-preview,
#lesson .index,
#lesson .button,
#lesson .llms-video-wrapper,
#lesson .progress-bar,
#lesson h2.lesson-title {
  border-radius: 7px;
  border: 2px solid #555;
  overflow: hidden; }
#lesson .button,
#lesson h2.lesson-title {
  padding: 12px 23px 11px;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font: 400 16px/20px futura, sans-serif;
  color: #555; }
#lesson .index-tabs {
  display: flex;
  justify-content: stretch; }
  #lesson .index-tabs .button {
    flex: 1;
    padding: 12px 11px 11px;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #555; }
    #lesson .index-tabs .button.active {
      border-bottom: none;
      background: #eee; }
    #lesson .index-tabs .button:last-child {
      border-left: 2px solid #555; }
#lesson .index-tabs-content {
  padding-bottom: 98.17%;
  position: relative;
  border-radius: 0 0 7px 7px;
  background: #eee; }
  #lesson .index-tabs-content *::-webkit-scrollbar {
    border: none;
    box-shadow: inset 0 0 0 6px #eee;
    background: #999; }
  #lesson .index-tabs-content *::-webkit-scrollbar-thumb {
    width: 14px;
    height: 14px;
    border-radius: 10px;
    -webkit-box-shadow: none;
    border: 2px solid #bbb;
    background-color: #fff; }
  #lesson .index-tabs-content .bottom-fix {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 2px solid #555;
    border-radius: 0;
    background: #fff; }
#lesson .index-tab-content {
  padding: 16px;
  position: absolute;
  top: 7px;
  left: 7px;
  right: 7px;
  bottom: 52px;
  box-sizing: border-box;
  overflow: auto;
  background: #eee; }
  #lesson .index-tab-content.active-tab {
    z-index: 5; }
#lesson .llms-lesson-preview {
  border-color: #999;
  width: auto;
  display: block; }
  #lesson .llms-lesson-preview .llms-lesson-link {
    box-shadow: none;
    width: auto; }
  #lesson .llms-lesson-preview:first-of-type {
    margin-top: 0; }
#lesson .llms-section {
  border-bottom: none; }
  #lesson .llms-section:not(:last-of-type) {
    margin-bottom: 16px; }
#lesson .section-title {
  background: #eee;
  padding: 0 16px;
  margin-bottom: 16px; }
#lesson #llms-section-lessons .llms-lesson-complete,
#lesson #llms-section-lessons h6, #lesson #llms-section-lessons h5 {
  margin: 0; }
#lesson #llms-section-lessons .llms-lesson-complete > .fa {
  display: block;
  font-size: 70px;
  float: left;
  margin-right: 16px; }
#lesson #wixbu-lesson-navigation {
  float: right; }
  #lesson #wixbu-lesson-navigation .button {
    border-radius: 0; }
    #lesson #wixbu-lesson-navigation .button:not(:last-of-type) {
      border-right: none; }
    #lesson #wixbu-lesson-navigation .button:last-of-type {
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px; }
    #lesson #wixbu-lesson-navigation .button:first-of-type {
      border-top-left-radius: 7px;
      border-bottom-left-radius: 7px; }
#lesson h2.lesson-title {
  border-radius: 7px 7px 0 0; }
#lesson .llms-form-field {
  padding: 0; }
#lesson .index,
#lesson .llms-video-wrapper {
  margin-bottom: 35px; }
#lesson .llms-video-wrapper {
  border-top: none;
  border-radius: 0 0 7px 7px; }
#lesson .bottom-fix {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border: none; }
#lesson #llms-course-progress {
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  height: auto;
  display: flex;
  flex-direction: row; }
  #lesson #llms-course-progress .progress-bar {
    flex: 1;
    display: flex;
    margin: 0 11px;
    border-radius: 9px; }
  #lesson #llms-course-progress .progress-bar-complete {
    display: block;
    border-radius: 9px 0 0 9px;
    border: 1px solid #fff;
    box-sizing: border-box; }
    #lesson #llms-course-progress .progress-bar-complete.almost-done {
      border-radius: 9px; }

/*# sourceMappingURL=front.css.map */
